################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MovieRentals/bin/Debug
/MovieRentals/obj/Debug
/MovieRentals.Tests/bin/Debug
/MovieRentals.Tests/obj/Debug
/.vs/MovieRentals/v14/.suo
/.vs
/MovieRentals/obj/Release
/MovieRentals.Tests/obj/Release
